
.jumbotron{
    width : 80%;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
}
.logo{
    width: 180px;
    height: 120px;
}
h1{
    text-align: center;
}
p{
    
}
.mhe{
    width: 80%;
    margin: auto;
    justify-content: center;
}
.logo2{
    width: 80%
}
.lol{
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-top: 12px;
}
.kik{
    width: 80%;
    height: ;
    margin: auto;
}
.logo3{
    width: 40%;
}
.mier{
    width: 80%;
    margin: auto;
}
.pop{
    margin-top: 12px; 
}